.App {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}


table  {
  width: 100%;
  text-align: center
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
